<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>NIBSS 404 NOT FOUND</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="/lib/css/font-awesome.min.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="/lib/css/404.css" />


<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body>
<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>we are sorry, but the page you requested was not found</h2>
        <a href="/" class="home-btn">Go Home</a>
        <a href="/contact" class="contact-btn">Contact us</a>
        <div class="notfound-social">
            <a href="https://www.facebook.com/NIBSSPLC"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/NIBSS_NG"><i class="fa fa-twitter"></i></a>
            <a href="https://localhost:44384/contact/#"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCLD7Y56uWlXKj_XxMA-61AQ"><i class="fa fa-youtube"></i></a>
            <a href="https://www.instagram.com/nibssplc/"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>
</body>