@model Account.ViewModels.EditUserProfileViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="form-group">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" class="form-control" placeholder="Name" />
</div>

<div class="form-group">
    <label asp-for="Sector">Sector</label>
    <input asp-for="Sector" type="text" class="form-control" placeholder="Sector" />
</div>


<div class="form-group">
    <label asp-for="Organisation">Organisation</label>
    <input asp-for="Organisation" type="text" class="form-control" placeholder="Organisation" />
</div>

